#order{
  background: url('/assets/images/city-bg-1.jpg');
  background-size:cover;
  color:$smoke;

  h1,h2,h3,h4,h5,h6,a,small,label{
    color: $smoke;
  }
  #content{
    background-color: rgba(0, 0, 0, 0.4);
    margin: 0 2em 2em 2em;
  }
  .header {
    margin: 0 2em;
    h1 {
      font-variant: small-caps;
    }
  }
  .scroll-section {
    overflow-y: scroll;
  }
  li a:hover {
    background: #746D67;
  }
  li.with-chevron::after {
    color: #ffffff;
  }
  #toolbox {
    background-color: #333;
  }
}