#order{
  background: url('/assets/images/city-bg-1.jpg');
  background-size:cover;
  color:$smoke;

  h1,h2,h3,h4,h5,h6,a,small,label{
    color: $smoke;
  }
  #content{
    #orderHeader, #orderList {
      background-color: rgba(0, 0, 0, 0.4);
      min-width: 750px;
      .order-item {
        width: 100%;
        height: 42px;
      }
      .confirmation {
        height: 40px;
        width: 180px;
        padding-left: 1em;
        line-height: 40px;
        color: white;
        font-size: large;
        font-weight: bold;
        float: left;
      }
      .status {
        height: 30px;
        line-height: 30px;
        margin: 5px 5px;
        border-radius: 5px;
        width: -webkit-calc(100% - 592px);
        width: -moz-calc(100% - 592px);
        width: calc(100% - 592px);
        text-align: center;
        float: left;
        border: 1px solid;
      }
      .date {
        line-height: 40px;
        height: 40px;
        min-width: 190px;
        float: left;
        text-align: center;
      }
      span { margin-bottom: 0; }
    }
    #orderHeader {
      margin: 2em 2em 0 2em;
      overflow: visible;
      z-index: 0;
      border-bottom: 1px solid white;
      ul {margin:0;}
      section {margin-bottom: 0;}
      .order-item {
        &.header {
          margin: 0;
          .confirmation {
            font-weight: normal;
          }
          .status {
            border: none;
          }
          .sortable:hover {
            background-color: rgba(255, 255, 255, 0.2);
            cursor: pointer;
          }
        }
      }
    }
    #orderList {
      margin: 0 2em 2em 2em;
      li{transition: background-color 0.2s}
      li:first-child{border-top: none;}
      li:hover {background-color: rgba(255,255,255,0.15);}
      .order-item {
        // Animation
        &.ng-enter {
          -webkit-transition: 0.1s ease-in-out transform;
          transition: 0.1s ease-in-out transform;
        }
        &.ng-enter,
        &.ng-leave.ng-leave-active {
          transform: scaleY(0);
        }
        &.ng-leave,
        &.ng-enter.ng-enter-active {
          transform: scaleY(1);
        }
        &.ng-enter-stagger {
          -webkit-transition-delay: 0.075s;
          transition-delay: 0.075s;
          -webkit-transition-duration: 0s;
          transition-duration: 0s;
        }
      }
    }
  }

  .header {
    margin: 0 2em;
    h1 {
      font-variant: small-caps;
    }
  }
  .scroll-section {
    overflow-y: scroll;
  }
  li a:hover {
    background: #746D67;
  }
  li.with-chevron::after {
    color: #ffffff;
  }
  #toolbox{
    #filter {
      background-color: rgb(35,35,35);
    }
    background-color: #333;

    span {
      margin-bottom: 0;
    }
  }
  #pagination {
    height: 37px;
    background-color: #333;

    a {
      line-height: 37px;
      height:37px;
      margin-bottom: 0;
      margin-right: 1px;
      padding: 0;
      display: block;
      width:37px;
      -webkit-transition:0.333s ease-in-out width;
      transition: 0.333s ease-in-out width;


      &.ng-hide {
        width:0px;
      }
      &.ng-enter,
      &.ng-leave {
        -webkit-transition:0.333s ease-in-out width;
        transition:0.333s ease-in-out width;
      }
      &.ng-enter,
      &.ng-leave.ng-leave-active {
        width:0;
      }
      &.ng-leave,
      &.ng-enter.ng-enter-active {
        width:37px;
      }

      &.selected { background-color: #4798ff;}
      &.empty {background-color: rgba(0,0,0,0);}
    }
    #totalItems{line-height: 37px; padding-right: 8px;}
  }
}

/**
 * Order Detail View
 */
#orderdetail {
  min-width: 750px;

  .section {
    width: 100%;
    padding: 0 2em 1em 2em;

    &>div{
      width:100%;
      display: table;
    }

    .row.title {
      margin-top: 1em;
      background-color: rgba(0,0,0, 0.75);
      padding:4px 8px;
      line-height: 24px;
    }

    .row.content {
      background-color: rgba(0,0,0, 0.4);

      .row {
        padding: 8px 12px;
        border-top: 1px solid #d0d0d0;
        &:last-child {border-bottom: 1px solid #d0d0d0;}
      }

      label, span {
        display:inline-block;
        font-size:16px;
        line-height: 26px;
        vertical-align: top;
        padding:0;
        margin:0;
      }
      label {
        width: 150px;
      }
    }

    .orders {
      padding:1em;
      .order-card {
        border:1px solid #d0d0d0;
        background-color: rgba(255,255,255,0.1);
        span.small {
          font-size: 14px; line-height: 14px;
        }

        .row {
          &.title {
            background-color: rgba(0,0,0, 0.55);
            margin: 0;
            border:none;

            &, span{
              font-size: 12px;
              line-height: 14px;
            }
          }
          &:last-child {border-bottom: none;}
        }
        padding:0;
        width: 100%;
      }
    }

    .note {
      width:100%;
    }
  }
}