<ion-view class="feed-view create-order-view" view-title="Create Order">
    <div class="header">
    </div>

    <ion-content class="has-footer has-header" data-tap-disabled="true">

        <!-- DELIVERY ADDRESS PICKER -->
        <div class="list card">
            <div class="item item-divider">Delivery Address</div>
            <div class="item item-select item-input" id="address">
                <select ng-options="address.name for address in addressbook" ng-model="cart.deliveryAddress"></select>
            </div>
            <div class="item" id="address-body">
                <p>{{cart.deliveryAddress.addr1}} {{cart.deliveryAddress.addr2}}</p>
                <p>{{cart.deliveryAddress.city}}, {{cart.deliveryAddress.state}} {{cart.deliveryAddress.zipcode}}</p>
            </div>
        </div>

        <!-- ORDER LIST -->
        <div class="list card">
            <div class="item item-divider item-icon-right">
                Orders
            </div>

            <ion-list show-delete="showDelete" can-swipe="true">
                <ion-item class="item orderItem" ng-repeat="item in orders track by $index">
                    <h2>{{$index}}. {{item.title}}</h2>
                    <ion-option-button class="button-positive" ng-click="share(item)">
                        Edit
                    </ion-option-button>
                    <ion-option-button class="button-assertive" ng-click="edit(item)">
                        Delete
                    </ion-option-button>
                </ion-item>
            </ion-list>

            <div class="item button button-full button-positive" id="addOrderBtn" ng-click="addOrder()">
                Add Order
            </div>
        </div>

    </ion-content>

    <div class="bar bar-footer bar-balanced" ng-click="confirmOrder()">
        <div class="title">Confirm Order</div>
    </div>
</ion-view>