<ion-view class="feed-view delivery-create-view" view-title="Create Delivery">
    <ion-content data-tap-disabled="true">

        <!-- Refresh to get the new posts -->
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="getNewData()">
        </ion-refresher>


        <div ng-repeat="delivery in deliveries">

        </div>s


        <!-- Infinit scroll -->
        <ion-infinite-scroll ng-if="moreDataCanBeLoaded()" on-infinite="loadMoreData()" distance="2%">
        </ion-infinite-scroll>

    </ion-content>
</ion-view>