TEMDS/client/.idea/.name
TEMDS/client/.idea/client.iml
TEMDS/client/.idea/encodings.xml
TEMDS/client/.idea/misc.xml
TEMDS/client/.idea/modules.xml
TEMDS/client/.idea/vcs.xml
TEMDS/client/.idea/workspace.xml
TEMDS/client/.idea/inspectionProfiles/profiles_settings.xml
TEMDS/client/.idea/inspectionProfiles/Project_Default.xml
TEMDS/client/.idea/scopes/scope_settings.xml
