<div id="venue" class="grid-block vertical">
    <h1 class="grid-content shrink text-center">Venues</h1>

    <div class="grid-block large-up-3 align-center shrink">
        <div class="grid-content">
            <form>
                <label>
                    Name
                    <input type="text" placeholder="Name">
                </label>

                <label>
                    Address
                    <input type="text" placeholder="Address">
                </label>

                <label>
                    Address 2
                    <input type="text" placeholder="Address 2">
                </label>

                <div class="grid-block">
                    <div class="small-12 medium-6 grid-content">
                        <label>
                            City
                            <input type="text" placeholder="Text field">
                        </label>
                    </div>
                    <div class="small-12 medium-3 grid-content">
                        <label>State</label>
                        <select name="" id="">
                            <option value="">Breakfast</option>
                            <option value="">Bacon Pancakes</option>
                            <option value="">Mountain Dew</option>
                        </select>
                    </div>
                    <div class="small-12 medium-3 grid-content">
                        <label>
                            Zip Code
                            <input type="text" placeholder="Zip Code">
                        </label>
                    </div>
                </div>

                <label>Description
                    <textarea placeholder="Description"></textarea>
                </label>

                <div class="grid-block">
                    <div class="small-12 medium-5 grid-content">
                        <label>Category</label>
                        <select name="" id="">
                            <option value="">Breakfast</option>
                            <option value="">Bacon Pancakes</option>
                            <option value="">Mountain Dew</option>
                        </select>
                    </div>
                    <div class="small-12 medium-7 grid-content">
                        <label>Tags</label>
                        <input id="checkbox1" type="checkbox"><label for="checkbox1">Checkbox 1</label>
                        <input id="checkbox2" type="checkbox"><label for="checkbox2">Checkbox 2</label>

                        <input id="checkbox1" type="checkbox"><label for="checkbox1">Checkbox 1</label>
                        <input id="checkbox2" type="checkbox"><label for="checkbox2">Checkbox 2</label>
                    </div>
                </div>

                <div class="grid-block">
                    <div class="small-12 medium-12 grid-content">
                        <label>Days</label>

                        <div class="grid-block">
                            <div class="small-12 medium-4 grid-content" style="padding-top: 10px">
                                <input id="checkbox1" type="checkbox"><label for="checkbox1">Monday</label>
                            </div>

                            <div class="small-12 medium-8 grid-content">
                                <div class="grid-block">
                                    <div class="small-12 medium-3 grid-content">
                                        <select name="" id="">
                                            <option value="">1</option>
                                            <option value="">2</option>
                                            <option value="">3</option>
                                            <option value="">4</option>
                                            <option value="">5</option>
                                            <option value="">6</option>
                                            <option value="">7</option>
                                            <option value="">8</option>
                                            <option value="">9</option>
                                            <option value="">10</option>
                                            <option value="">11</option>
                                            <option value="">12</option>
                                            <option value="">Closed</option>
                                        </select>
                                    </div>
                                    <div class="small-12 medium-3 grid-content">
                                        <select name="" id="">
                                            <option value="">am</option>
                                            <option value="">pm</option>
                                        </select>
                                    </div>

                                    <div class="small-12 medium-3 grid-content">
                                        <select name="" id="">
                                            <option value="">1</option>
                                            <option value="">2</option>
                                            <option value="">3</option>
                                            <option value="">4</option>
                                            <option value="">5</option>
                                            <option value="">6</option>
                                            <option value="">7</option>
                                            <option value="">8</option>
                                            <option value="">9</option>
                                            <option value="">10</option>
                                            <option value="">11</option>
                                            <option value="">12</option>
                                        </select>
                                    </div>
                                    <div class="small-12 medium-3 grid-content">
                                        <select name="" id="">
                                            <option value="">am</option>
                                            <option value="">pm</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="#" class="expand success button">
                    <span>
                        <i class="fa fa-save fa-fw"></i>Save
                    </span>
                </a>
            </form>
        </div>



        <div class="grid-content">
            <section class="block-list">
                <header>List title</header>
                <ul>

                    <li class="with-chevron"><a href="#">List item 1</a></li>
                    <li class="with-chevron"><a href="#">List item 2</a></li>
                    <li><a href="#">List item 3</a></li>
                    <li class="with-chevron"><a href="#">List item 1</a></li>
                    <li class="with-chevron"><a href="#">List item 2</a></li>
                    <li><a href="#">List item 3</a></li><li class="with-chevron"><a href="#">List item 1</a></li>
                    <li class="with-chevron"><a href="#">List item 2</a></li>
                    <li><a href="#">List item 3</a></li>
                    <li class="with-chevron"><a href="#">List item 1</a></li>
                    <li class="with-chevron"><a href="#">List item 2</a></li>
                    <li><a href="#">List item 3</a></li>
                    <li class="with-chevron"><a href="#">List item 1</a></li>
                    <li class="with-chevron"><a href="#">List item 2</a></li>
                    <li><a href="#">List item 3</a></li>
                    <li class="with-chevron"><a href="#">List item 1</a></li>
                    <li class="with-chevron"><a href="#">List item 2</a></li>
                    <li><a href="#">List item 3</a></li>
                    <li class="with-chevron"><a href="#">List item 1</a></li>
                    <li class="with-chevron"><a href="#">List item 2</a></li>
                    <li><a href="#">List item 3</a></li>


                </ul>
            </section>
        </div>



        <div class="grid-content">

        </div>
    </div>
</div>