<ion-view class="feed-view venue-list-view" view-title="Venues">
    <ion-content>
        <!-- Refresh to get the new posts -->
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="refreshData()">
        </ion-refresher>

        <div class="venue-list-repeat" ng-repeat="venue in venueList">
            <section ng-include="'views/app/venue/venue-list-cell.html'" class="venue-list-cell"></section>
        </div>

        <!-- Infinit scroll 
        <ion-infinite-scroll ng-if="hasMoreData()" on-infinite="loadMoreData()" distance="2%">
        </ion-infinite-scroll>-->

    </ion-content>
</ion-view>


<div class="bar bar-footer bar-clear" style="padding:0;">
    <button class="button button-balanced button-full" style="margin:0;" ng-click="editAddress({})">
        <div class="item-icon-left">
            <i class="icon ion-plus"></i>
        </div>
        Add Address
    </button>
</div>