<ion-view class="feed-view venue-list-view" view-title="Venues">
    <ion-content>
        <!-- Refresh to get the new posts -->
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="refreshData()">
        </ion-refresher>

        <div class="list">
            <div class="section" ng-repeat="(key, venues) in sortedVenueList">
                <!-- div class="item item-divider">{{key}}</div -->
                <section ng-include="'views/app/venue/venue-cell.html'"
                         ng-repeat="venue in venues"
                         ng-click="showVenueDetail(venue)"></section>
            </div>

        </div>

        <!-- Infinit scroll 
        <ion-infinite-scroll ng-if="hasMoreData()" on-infinite="loadMoreData()" distance="2%">
        </ion-infinite-scroll>-->

    </ion-content>

</ion-view>