<script src="js/directives.js"></script>
<div id="media" class="grid-block vertical">

	<div class="grid-block shrink">
		<div class="medium-3 grid-block">
			<div class="grid-content"><h2 class="text-center">Venues</h2></div>
		</div>
		<div class="medium-9 grid-block">
			<div class="grid-block large-up-3 v-align">
				<div class="grid-block align-center">
					<input type="radio" name="mediaType" value="Img" id="mediaHeader" ng-model="mediaType" ng-disabled="!selectedVenue">
					<label for="mediaHeader">Main Image</label>
					<input type="radio" name="mediaType" value="Gallery" id="mediaGallery" ng-model="mediaType" ng-disabled="!selectedVenue">
					<label for="mediaGallery">Gallery</label>
				</div>

				<div class="grid-block align-center">
					<input type="file" accept='image/*' onchange="angular.element(this).scope().onChange(this.files)" ng-disabled="!mediaType">
				</div>

				<div class="grid-block align-center">
					<button class="button" ng-click="uploadImage()" ng-disabled="!mediaType">
						<i class="fa fa-cloud-upload fa-fw"></i>
						Upload
					</button>
				</div>
			</div>
		</div>
	</div>

	<div class="grid-block">
		<div class="medium-3 grid-block ">
			<div class="grid-content scroll-section v-align">
				<section id="venueList" class="block-list align-top">
					<ul>
						<li class="with-chevron" data-ng-repeat="venue in venueNames | orderBy:'name'">
							<a ng-click="getVenueImages(venue)">{{venue.name}}</a>
						</li>
					</ul>
				</section>
			</div>
		</div>

		<div class="medium-9 grid-block">
			<div class="vertical grid-block">
				<div id="firstRowImages" class="grid-block large-up-1">
					<div class="grid-block align-center">
						<a ng-href="{{selectedVenue.venue.img || 'http://placehold.it/375x200'}}" target="_blank">
							<img id="headerImg" class="thumbnail" ng-src="{{selectedVenue.venue.img || 'http://placehold.it/375x200'}}">
							<h4 class="text-center">Main Image</h4>
						</a>
					</div>
				</div>

				<hr>

				<h3 class="text-center">Gallery</h3>
				<div id="gallery" class="grid-block large-up-3">
					<div class="grid-content" data-ng-repeat="item in [1,2,3,4,5,6]">
						<a href="http://placehold.it/250x250">
							<img class="thumbnail gallery" src="http://placehold.it/250x250">
						</a>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>