<form name="change-password-form" novalidate>
    <div class="change-password form-fields-outer list list-inset">
        <label class="item item-input" show-hide-container>
            <input type="password" placeholder="Current Password" name="pass_old" ng-model="change_pass.pass_old" ng-minlength="6" required show-hide-input style="padding-right:24px;" required>
        </label>
        <label class="item item-input" show-hide-container>
            <input type="password" placeholder="New Password" name="pass_new" ng-model="change_pass.pass_new" ng-minlength="6" required show-hide-input style="padding-right:24px;" required>
        </label>
    </div>
</form>