<ion-view class="welcome-view" cache-view="false">
    <ion-nav-bar>
        <ion-nav-back-button>
        </ion-nav-back-button>
        <ion-nav-buttons side="right">
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content scroll="false">
        <div multi-bg="bgs" interval="3000" helper-class="facebook-welcome-bg">

            <!-- Splash Page Top -->
            <div class="top-content row">
                <div class="app-copy col col-center">
                    <img class="logo" src="img/logo.png" />
                </div>
            </div>

            <img class="bg_anim bg_star1" src="img/background/star1.png" />
            <img class="bg_anim bg_star2" src="img/background/star2.png" />
            <img class="bg_anim bg_star3" src="img/background/star3.png" />
            <img class="bg_anim bg_building1" src="img/background/building1.png" />
            <img class="bg_anim bg_building2" src="img/background/building2.png" />
            <img class="bg_anim bg_building3" src="img/background/building3.png" />
            <img class="bg_anim bg_building4" src="img/background/building4.png" />

            <!-- Splash Page Bottom -->
            <div class="bottom-content row">
                <div class="col col-bottom">
                    <a class="sign-in button-large button button-block" ng-click="signIn()">
        Sign In
      </a>
                    <a class="sign-up button button-clear button-block" ng-click="signUp()">
        New to TEMDS? Sign Up here
      </a>
                    <section ng-include="'views/app/legal/legal-notice.html'"></section>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>