<ion-view class="welcome-view" cache-view="false">

    <ion-nav-bar>
        <ion-nav-back-button>
        </ion-nav-back-button>
        <ion-nav-buttons side="right">
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content scroll="false">
        <div multi-bg="bgs" interval="3000">

            <!-- Splash Page Top -->
            <div class="top-content row">
                <div class="app-copy col col-center">
                    <div class="app-logo">TEMDS</div>
                    <p class="app-tagline">
                        The Extra Mile Delivery Service
                    </p>
                </div>
            </div>

        </div>
    </ion-content>
</ion-view>