# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

TEMDS/.idea/workspace.xml
platforms/
plugins/
showcase/
UPLOAD/
RELEASE/
APK/
tmp/
node_modules/
www/img/orig
www/js/tracking-config.js
www/js/view.js
www/css/
.idea/
.DS_Store
