.venue-list-view {
    ion-content{
        background-color: #efefef;
    }
    .list {
        .venue_card {
            img {
                width: 100%;
                height: 200px;
                object-fit: cover;
            }
        }
    }
}

.venue-detail-view {
    .map {
        padding: 0;
        .angular-google-map-container {
            height: 200px;
            width: 100%;
        }
    }
    ion-content {
        background-color: white;
        margin-top: 96px;
        z-index: -2;
    }
    .header {
        width: 100%;
        height: 160px;
        padding: 0;
        margin: 0;
        .name {
            width: 100%;
            height: 160px;
            position: absolute;
            h1 {
                position: absolute;
                color: white;
                padding-left: 10px;
                bottom: 0px;
            }
        }
        .overlay {
            width: 100%;
            height: 160px;
            position: absolute;
            background: rgba(0, 0, 0, 0.5);
        }
        .venueImg {
            width: 100%;
            height: 160px;
            border: 0px;
            position: absolute;
            z-index: -1;
            &.ng-hide-add,
            &.ng-hide-remove {
                transition: all linear 0.5s;
                display: block !important;
            }
            &.ng-hide-add.ng-hide-add-active,
            &.ng-hide-remove {
                opacity: 0;
            }
            &.ng-hide-add,
            &.ng-hide-remove.ng-hide-remove-active {
                opacity: 1;
            }
        }
        .placeholder {
            width: 100%;
            height: 160px;
            border: 0px;
            position: absolute;
            z-index: -1;
            background-image: url('/img/img_375x200.jpg');
        }
    }
    .row {
        border-bottom-width: 0px;
        border-top-width: 0px;
    }
    .item-divider {
        border-bottom-width: 1px;
        border-top-width: 1px;
    }
}