.venue-list-view {
    .list {
        .cell {
            padding: 10px;
            height: 70px;
            // CELL ITEM
            .content {
                .thumb {
                    float: left;
                    width: 50px;
                    height: 50px;
                    background-image: url('/img/th_50x50.jpg');
                    border-radius: 5px;
                    margin-right: 10px;
                }
                .body {
                    float: left;
                    height: 100%;
                    float: left;
                    .title {
                        text-transform: uppercase;
                        padding: 7px 0 0 0px;
                        margin: 0px;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                        font-size: 14px;
                        color: lighten($address-book-cell-text-color, 25%);
                        font-weight: 500;
                    }
                    .category {
                        padding: 0;
                        color: lighten($address-book-cell-text-color, 50%);
                        line-height: 14px;
                        margin: 0px;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                        font-size: 12px;
                        p {
                            padding: 0;
                            margin: 0;
                        }
                    }
                }
                .arrow {
                    float: right;
                    height: 100%;
                    text-align: center;
                    width: 20px;
                    padding: 15px 0 0 0;
                    i {
                        font-size: 20px;
                        font-weight: 800px;
                    }
                }
            }
        }
    }
}

.venue-detail-view {
    .map {
        padding: 0;
        .angular-google-map-container {
            height: 200px;
            width: 100%;
        }
    }
    ion-content {
        background-color: white;
        top: 160px;
        z-index: -1;
    }
    .header {
        width: 100%;
        height: 160px;
        .name {
            width: 100%;
            height: 160px;
            position: absolute;
            h1 {
                position: absolute;
                color: white;
                padding-left: 10px;
                bottom: 0px;
            }
        }
        .overlay {
            width: 100%;
            height: 160px;
            position: absolute;
            background: rgba(0, 0, 0, 0.5);
        }
        .venueImg {
            width: 100%;
            height: 160px;
            background-image: url('/img/img_375x200.jpg');
            border: 0px;
        }
    }
    .row {
        border-bottom-width: 0px;
        border-top-width: 0px;
    }
    .item-divider {
        border-bottom-width: 1px;
        border-top-width: 1px;
    }
}