<ion-view class="feed-view address-book-view" view-title="Address Book">
    <ion-content class="has-footer">
        <!-- Refresh to get the new posts -->
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="refreshData()">
        </ion-refresher>

        <div class="address-book-repeat" ng-repeat="address in addressList">
            <section ng-include="'views/app/address-book/address-book-cell.html'" class="address-book-cell"></section>
        </div>

        <!-- Infinit scroll 
        <ion-infinite-scroll ng-if="hasMoreData()" on-infinite="loadMoreData()" distance="2%">
        </ion-infinite-scroll>-->

    </ion-content>


    <div class="bar bar-footer bar-balanced">
        <div class="title" ng-click="editAddress({})">
            Add Address
        </div>
    </div>
</ion-view>