<div id="orderdetail" class="contain-to-grid ">
    <div class="header">
        <h1>Order #{{order.confirmationNumber}}</h1>
    </div>

    <div class="row section">
    <div>
        <div id="address">
            <div class="contain-to-grid">
                <div class="row title">
                    <i class="fa fa-user"></i>
                    <span>User Information</span>
                </div>
                <div class="row content">
                    <div class="row">
                        <label>Name</label>
                        <span>{{user.lName}}, {{user.fName}}</span>
                    </div>
                    <div class="row">
                        <label>Email</label>
                            <span>
                                <a href="mailto:{{user.email}}">{{user.email}}</a>
                            </span>
                    </div>
                    <div class="row">
                        <label>Phone Number</label>
                            <span>
                                {{user.phoneNum}}
                            </span>
                    </div>
                    <div class="row">
                        <label>Birth Date</label>
                            <span>
                                {{user.bDay}}
                            </span>
                    </div>
                </div>

                <div class="row title">
                    <i class="fa fa-truck"></i>
                    <span>Delivery Address</span>
                </div>
                <div class="row content">
                    <div class="row">
                        <label>Recipient</label>
                        <span>{{order.recipient}}</span>
                    </div>
                    <div class="row">
                        <label>Address1</label>
                            <span>
                                {{order.deliveryAddress.addr1}}<br/>
                                {{order.deliveryAddress.addr2}}<br data-ng-show="order.deliveryAddress.addr2 != ''"/>
                                {{order.deliveryAddress.city}},
                                {{order.deliveryAddress.state}},
                                {{order.deliveryAddress.zipcode}}
                            </span>
                    </div>
                </div>
            </div>

        </div>
        <div id="map" class="grid-block">
            <ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>
            <!--<ui-gmap-google-map center="map.center" draggable="true" zoom="map.zoom" options="map.options" events="map.events" data-tap-disabled="true">
                <ui-gmap-markers models="map.markers"
                                 doCluster="true"
                                 coords="'self'"
                                 icon="'icon'"
                                 options="'options'"
                                 idkey='id'
                                 clusterOptions='map.clusterOptions'
                                 control='markerControl.getChildMarkers().get(id)'>
                </ui-gmap-markers>
            </ui-gmap-google-map>-->

        </div>
    </div>
    </div>
</div>