<div id="orderdetail" class="contain-to-grid ">
    <div class="header">
        <h1>Order #{{order.confirmationNumber}}</h1>
    </div>

    <div class="row section">
        <div class="contain-to-grid">
            <div class="row title">
                <i class="fa fa-user"></i>
                <span>User Information</span>
            </div>
            <div class="row content">
                <div class="row">
                    <label>Name</label>
                    <span>{{user.lName}}, {{user.fName}}</span>
                </div>
                <div class="row">
                    <label>Email</label>
                            <span>
                                <a href="mailto:{{user.email}}">{{user.email}}</a>
                            </span>
                </div>
                <div class="row">
                    <label>Phone Number</label>
                            <span>
                                {{user.phoneNum}}
                            </span>
                </div>
                <div class="row">
                    <label>Birth Date</label>
                            <span>
                                {{user.bDay}}
                            </span>
                </div>
            </div>

            <div class="row title">
                <i class="fa fa-truck"></i>
                <span>Delivery Information</span>
            </div>
            <div class="row content">
                <div class="row">
                    <label>Recipient</label>
                    <span editable-text="order.recipient" onbeforesave="updateOrder($data, 'recipient', order._id)">
                      {{order.recipient || '- No Recipient Name Provided -'}}
                    </span>
                </div>
                <div class="row">
                    <label>Address</label>
                    <span class="editable" temds-address address="order.deliveryAddress" ng-click="deliveryAddressForm.$show()" ng-hide="deliveryAddressForm.$visible">
                    </span>
                    <form editable-form name="deliveryAddressForm" onbeforesave="updateOrder($data, 'deliveryAddress', order._id)" ng-show="deliveryAddressForm.$visible">
                        <div class="grid-block">
                            <div class="small-12">
                                <label class="title">Line 1 </label>
                                <span editable-text="order.deliveryAddress.addr1" e-name="addr1">
                                    {{ order.deliveryAddress.addr1 }}
                                </span>
                            </div>
                        </div>
                        <div class="grid-block">
                            <div class="small-12">
                                <label class="title">Line 2 </label>
                                <span editable-text="order.deliveryAddress.addr2" e-name="addr2">
                                    {{ order.deliveryAddress.addr2 }}
                                </span>
                            </div>
                        </div>
                        <div class="grid-block oneline">
                            <div class="small-5">
                                <label class="title">City/County</label>
                                <span editable-text="order.deliveryAddress.city" e-name="city">
                                    {{ order.deliveryAddress.city }}
                                </span>
                            </div>
                            <div class="small-3">
                                <label class="title">State</label>
                                <span editable-select="order.deliveryAddress.state" e-name="state" e-ng-options="state.abbr as state.abbr for state in usStates">
                                    {{ order.deliveryAddress.state }}
                                </span>
                            </div>
                            <div class="small-4">
                                <label class="title">Zipcode</label>
                                <span editable-text="order.deliveryAddress.zipcode" e-name="zipcode">
                                    {{ order.deliveryAddress.city }}
                                </span>
                            </div>
                        </div>
                        <div class="grid-block">
                            <span class="editable-buttons">
                                <button type="submit" class="btn btn-primary" style="margin-left: 0;"
                                        ng-disabled="deliveryAddressForm.$waiting" ></button>
                                <button type="button" class="btn btn-default"
                                        ng-disabled="deliveryAddressForm.$waiting"
                                        ng-click="deliveryAddressForm.$cancel()"></button>
                            </span>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <label>Status</label>
                    <span editable-select="order.status"
                          e-ng-options="getStatusDescription(v) for (k,v) in orderStatusOptions"
                          onbeforesave="updateOrder($data,'status', order._id)">
                        {{ getStatusDescription(order.status) }}
                    </span>
                </div>
            </div>

            <div class="row title">
                <i class="fa fa-shopping-cart"></i>
                <span>Orders ({{order.orders.length}})</span>
            </div>
            <div class="row content align-spaced grid-block small-up-2">
                <div class="orders grid-block" ng-repeat="o in order.orders">
                    <div class="order-card">

                        <div class="row title">
                            <i class="fa fa-building-o"></i>
                            <span>Venue #{{$index+1}}</span>
                        </div>
                        <div class="row">
                            <label>Name</label>
                            <span>{{o.v.venue.name}}</span>
                        </div>
                        <div class="row">
                            <label>Address</label>
                            <span temds-address address="o.v.detail.address"></span>
                        </div>
                        <div class="row title">
                            <i class="fa fa-tags"></i>
                            <span>Items</span>
                        </div>
                        <div class="row" ng-repeat="item in o.items">
                            <span>{{$index+1}}. {{item.description}}</span>
                        </div>
                        <div class="row title">
                            <i class="fa fa-pencil-square"></i>
                            <span>Comments</span>
                        </div>
                        <div class="row">
                            <span class="small">{{o.comment || '- No Comment -'}}</span>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>