<ion-view class="feed-view create-order-view" view-title="Create Order">
    <div class="header">
    </div>

    <ion-content class="has-footer has-header" data-tap-disabled="true">
        <div class="list card">
            <div class="item item-divider">Selected Venue</div>
            <div class="item item-avatar">
                <img id="thumbnail" src="{{venue.thumbnail}}">
                <h2>{{venue.name}}</h2>
                <h3>{{venue.category}}</h3>
            </div>
        </div>

        <div class="list card">
            <div class="item item-divider">Delivery Address</div>
            <div class="item item-select item-input" id="address">
                <select ng-options="address.name for address in addressbook" ng-model="selectedAddress" ng-selected="selectedAddress">

                </select>
            </div>
            <div class="item" id="address-body">
                <p>{{selectedAddress.addr1}} {{selectedAddress.addr2}}</p>
                <p>{{selectedAddress.city}}, {{selectedAddress.state}} {{selectedAddress.zipcode}}</p>
            </div>
        </div>

        <div class="list card">
            <div class="item item-divider item-icon-right">
                {{items.length > 1 ? "Order Items" : "Order Item"}}
            </div>
            <ion-list show-delete="showDelete">
                <ion-item class="item item-input" ng-repeat="item in items track by $index">
                    <input type="text" placeholder="Item #{{$index+1}}" ng-model="items[$index]" />
                    <ion-delete-button class="ion-minus-circled" ng-click="items.splice($index, 1)"></ion-delete-button>
                </ion-item>
            </ion-list>
            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#" ng-click="items.push(''); showDelete=false;">
                    <i class="icon ion-plus-circled"></i> Add
                </a>
                <a class="tab-item" href="#">
                </a>
                <a class="tab-item" href="#" ng-click="showDelete = !showDelete;">
                    <i class="icon ion-minus-circled"></i> Delete
                </a>
            </div>
            <label class="item item-input">
                <textarea placeholder="Comments" ng-model="comment.txt"></textarea>
            </label>

        </div>

    </ion-content>

    <div class="bar bar-footer bar-balanced" ng-click="confirmOrder()">
        <div class="title">Confirm Order</div>
    </div>
</ion-view>