<div id="navigation" class="grid-content menu-group">
     <div class="menu-group-left">
          <ul class="menu-bar">
               <li>
                    <a ui-sref="home"><strong>TEMDS Tools</strong></a>
               </li>
          </ul>
     </div>
     <div class="menu-group-right hide-for-small-only">
          <ul class="menu-bar icon-left">
               <!--<li>-->
                    <!--<a ui-sref="account">-->
                         <!--<span>-->
                              <!--<i class="fa fa-user fa-fw"></i>Account-->
                         <!--</span>-->
                    <!--</a>-->
               <!--</li>-->
               <!--<li data-ng-if="auth.checkRole('admin')">-->
                    <!--<a ui-sref="admin">-->
                         <!--<span>-->
                              <!--<i class="fa fa-gear fa-fw"></i>Admin-->
                         <!--</span>-->
                    <!--</a>-->
               <!--</li>-->
              <!--<li data-ng-if="auth.checkRole('admin')">-->
                  <!--<a ui-sref="usermanagement">-->
                         <!--<span>-->
                              <!--<i class="fa fa-home fa-fw"></i>Users-->
                         <!--</span>-->
                  <!--</a>-->
              <!--</li>-->
               <!---->
               <!--<li data-ng-if="!auth.user">-->
                    <!--<a ui-sref="signup">-->
                         <!--<span>-->
                              <!--<i class="fa fa-user-plus fa-fw"></i>Signup-->
                         <!--</span>-->
                    <!--</a>-->
               <!--</li>-->
              <li data-ng-if="auth.checkRole('admin')">
                  <a ui-sref="venues">
                         <span>
                              <i class="fa fa-building-o fa-fw"></i>Venues
                         </span>
                  </a>
              </li>
              <li data-ng-if="auth.checkRole('admin')">
                  <a ui-sref="orders">
                         <span>
                              <i class="fa fa-truck fa-fw"></i>Orders
                         </span>
                  </a>
              </li>
              <li data-ng-if="!auth.user">
                  <a ui-sref="login">
                         <span>
                              <i class="fa fa-sign-in fa-fw"></i>Login
                         </span>
                  </a>
              </li>
               <li data-ng-if="auth.user">
                    <a data-ng-click="auth.logout()">
                         <span>
                              <i class="fa fa-sign-out fa-fw"></i>Logout
                         </span>
                    </a>
               </li>
          </ul>
     </div>
</div>