/*
#orderItem.ng-enter {
    -webkit-animation: fadeInLeft 1s;
    animation: fadeInLeft 1s;
}

#orderItem.ng-enter-stagger {
    -webkit-animation-delay: 120ms;
    animation-delay: 120ms;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}*/

.create-order-view {
    ion-content {
        .item.item-input {
            &.ng-enter,
            &.ng-leave.ng-leave-active {
                height: 0;
                padding-top: 0;
                padding-bottom: 0;
                transition: all 0.25s 0s;
            }
            &.ng-leave,
            &.ng-enter.ng-enter-active {
                height: 46px;
                padding-top: 0;
                padding-bottom: 0;
                transition: all 0.5s 0s;
            }
        }
        #address {
            height: 40px;
            width: 100%;
            select {
                font-size: 15px;
                padding: 4px 40px 4px 16px;
                width: 100%;
                max-width: 100%;
                height: 100%;
                direction: ltr;
            }
        }
        #address-body {
            border-top: 0px none;
            padding-top: 0px;
            padding-bottom: 12px;
        }
        textarea {
            height: auto;
            min-height: 128px;
        }
        background-color: white;
        #thumbnail {
            border-radius: 5px;
        }
        .item-content {
            padding: 0;
            width: 100%;
        }
    }
    ::-webkit-input-placeholder {
        color: #CDCDCD;
    }
}