/*
#orderItem.ng-enter {
    -webkit-animation: fadeInLeft 1s;
    animation: fadeInLeft 1s;
}

#orderItem.ng-enter-stagger {
    -webkit-animation-delay: 120ms;
    animation-delay: 120ms;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}*/
.order-create-view {
    ion-content {
        background-color: white;
        overflow: hidden !important;
        .item.item-input {
            &.ng-enter,
            &.ng-leave.ng-leave-active {
                height: 0;
                padding-top: 0;
                padding-bottom: 0;
                transition: all 0.25s 0s;
            }
            &.ng-leave,
            &.ng-enter.ng-enter-active {
                height: 46px;
                padding-top: 0;
                padding-bottom: 0;
                transition: all 0.5s 0s;
            }
        }
        textarea {
            height: auto;
            min-height: 128px;
        }
        #thumbnail {
            border-radius: 5px;
        }
        .item-content {
            padding: 0;
            width: 100%;
        }
        .order {
            padding-top: 4px;
            padding-bottom: 4px;
        }
        .orderItem {
            &.ng-enter,
            &.ng-leave.ng-leave-active {
                height: 0;
                transition: all 0.25s 0s;
            }
            &.ng-leave,
            &.ng-enter.ng-enter-active {
                height: 46px;
                transition: all 0.5s 0s;
            }
        }
        #selectVenueBtn {
            margin:1px 0 -1px 0;
        }
        #addOrderBtn {
            margin-top: 0;
        }
        .item-delete .button.icon {color: #ef4e3a;}
    }
    ::-webkit-input-placeholder {
        color: #CDCDCD;
    }
}