/*
#orderItem.ng-enter {
    -webkit-animation: fadeInLeft 1s;
    animation: fadeInLeft 1s;
}

#orderItem.ng-enter-stagger {
    -webkit-animation-delay: 120ms;
    animation-delay: 120ms;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}*/

.delivery-view {
    ion-content {
        background-color: #FFF;
        ion-list .list {
            transition: height 0.5s 0s;
        }
    }

    #address-body {
        border-top: 0px none;
        padding-top: 0px;
        padding-bottom: 12px;

        #recipient {
            margin: 12px 0 6px 0;
        }

        h2 {
            font-size : 14px;
        }
    }

    .order {
        ul {
            color: #878787;
            list-style: disc;
            padding-left: 2em;
            font-size: 14px;
        }
        .comment {
            margin-top: 0.5em;
            padding-top: 0.25em;
            border-top: 1px dashed #CDCDCD;
            word-wrap: break-word;
            word-break: normal;
            font-size: 14px;
            color: #727272;
        }
    }
    #address {
        height: 40px;
        width: 100%;
        select {
            font-size: 15px;
            padding: 4px 40px 4px 16px;
            width: 100%;
            max-width: 100%;
            height: 100%;
            direction: ltr;
        }
    }
    #thumbnail {
        border-radius: 5px;
    }
    ::-webkit-input-placeholder {
        color: #CDCDCD;
    }
}

.delivery-detail-view {
    .status {
        height: #{$status-height}px;
        margin: 8px;
        padding: #{$status-padding}px;
        border-radius: #{$status-height}px;

        .status-wrapper {
            width:100%;
            height: 100%;
            position:relative;
            background-color:#ddd;
            border-radius: $status-bar-radius;
            padding-left: #{$status-size/2}px;
            padding-right: #{$status-size/2}px;

            .status-block {
                width:0%;
                height: #{$status-bar-height};
                float:left;
                border-radius: $status-bar-radius;
                background-color: $status-bar-active-color;
                transition: width 1s;
            }
        }
        .status-point {
            position: absolute;
            height:$status-point-size;
            width:$status-point-size;
            top: -#{$status-point-border-size-raw/2}px;
            border-radius: 50%;
            border: #{$status-point-border-size-raw}pt solid #fff;
            float:left;
            background-color: $status-deactive-color;

            &:nth-child(1){
                left:-#{$status-point-border-size-raw/2}px;
            }
            &:nth-child(2){
                left: calc(33.333% - #{$status-size/2}px);
            }
            &:nth-child(3){
                right: calc(33.333% - #{$status-size/2}px);
            }
            &:nth-child(4){
                right:-1px;
            }

            &.activated {
                background-color: $status-bar-active-color;
                transition: background-color 0.5s;
            }

            &.active {
                background-color: $status-active-color;
                animation: status-pointer-active 1s infinite alternate;
                transition: all 1s;
            }
        }
        .status-message {
            position:absolute;
            width:0%;
            height:#{$status-bar-height};
            border-radius: $status-bar-radius;
            background-color:#fff;
            left:0;
            transition: width 1s, background-color 0.5s;
            text-align: center;
            overflow: hidden;
            span {
                line-height:#{$status-bar-height};
                display: inline-block;
                vertical-align: middle;
                font-size: 16px;
                color:#fff;
                font-weight: bold;
            }
            &.warning {
                background-color: $status-message-warning-bg;
            }
            &.declined {
                background-color: $status-message-declined-bg;
            }
            &.canceled {
                background-color: $status-message-canceled-bg;
            }
        }

    }

    .delivery-status-text {
        width:100%;
        color:#343434;
    }

    .order-title {
        h2 {
            font-size:16px;
            font-weight: bold;
            line-height: 30px;

            vertical-align: middle;
        }
        p{
            font-size:10px;
            line-height:10px;
        }
    }
}

.delivery-list-view {
    .statusBadge {
        margin-top:11px;
    }
}

.delivery-create-view {
    ion-content {
        #addOrderBtn {
            margin-top: 0;
        }
        #deleteBtn {
            font-size: 28px;
            color: #CCC;
        }
    }
}

/** Animation Keyframes **/
@keyframes status-pointer-active {
    from {
        transform: scale(1,1);
    }
    to {
        transform: scale(1.3,1.3);
    }

}