.welcome-view {
    background-color: $welcome-bg;
    ion-content {
        top: 0px !important;
    }
    .logo {
        width: 100%;
    }
    .multi-bg-outer {
        z-index: 0;
    }
    .bgVid {
        position: absolute;
        height: 100%;
        top: 0px;
        right: 0px;
    }
    .top-content {
        height: 66%;
        position: relative;
        .app-copy {
            text-align: center;
            padding-top: 20vh;
        }
        .app-logo {
            font-size: 50px;
            font-weight: 600;
            font-style: bold;
            color: $welcome-color;
        }
        .app-tagline {
            font-size: 16px;
            margin-top: 20px;
            color: rgba(darken($welcome-color, 10%), 0.8);
        }
    }
    .bottom-content {
        height: 34%;
        margin: 0px;
        .facebook-sign-in,
        .create-account {
            border-radius: 4px;
            margin: 10px 12vw;
            font-size: 18px;
        }
        .facebook-sign-in,
        .dont-have-facebook,
        .create-account,
        .have-account {
            margin-bottom: 20px;
        }
        .sign-in {
            color: rgba($welcome-sign-in-color, .9);
            background-color: rgba($welcome-sign-in-bg, .2);
            border-color: rgba(darken($welcome-sign-in-bg, 1), .9);
        }
        .facebook-sign-in {
            color: rgba($welcome-facebook-sign-in-color, .9);
            background-color: rgba($welcome-facebook-sign-in-bg, .98);
            border-color: rgba(darken($welcome-facebook-sign-in-bg, 1), .9);
        }
        .create-account {
            color: rgba($welcome-create-account-color, .9);
            background-color: rgba($welcome-create-account-bg, .98);
            border-color: rgba(darken($welcome-create-account-bg, 1), .9);
        }
        .dont-have-facebook,
        .have-account {
            color: rgba(darken($welcome-color, 10%), 0.8);
            font-size: 16px;
        }
        .legal-notice {
            color: $welcome-color;
            margin: 10px 12vw;
            text-align: center;
            a {
                text-decoration: none;
                font-weight: 600;
                color: $welcome-color;
            }
        }
    }
    // Background Animation
    .bg_anim {
        width: 100%;
        position: absolute;
        left: 0px;
        top: 0px;
        animation-iteration-count: infinite;
        opacity: 0;
    }
    .bg_building {
    }
    .bg_building1 {
        animation-name: buildingFade;
        animation-duration: 7s;
        animation-delay: 3s;
        animation-timing-function: ease-in-out;
        animation-direction: alternate;

    }
    .bg_building2 {
        animation-name: buildingFade;
        animation-duration: 6.67s;
        animation-delay: 7s;
        animation-timing-function: ease-in-out;
        animation-direction: alternate;
    }
    .bg_building3 {
        animation-name: buildingFade;
        animation-duration: 10s;
        animation-delay: 13s;
        animation-timing-function: ease-in-out;
        animation-direction: alternate;
    }
    .bg_building4 {
        animation-name: buildingFade;
        animation-duration: 5s;
        animation-delay: 5s;
        animation-timing-function: ease-in-out;
        animation-direction: alternate;
    }
    .bg_star1 {
        animation-name: starFade;
        animation-duration: 5s;
        animation-delay: 4s;
        animation-timing-function: ease-in-out;
        animation-direction: alternate;
        top: 0px;
    }
    .bg_star2 {
        animation-name: starFade;
        animation-duration: 8s;
        animation-delay: 1.3s;
        animation-timing-function: ease-in-out;
        animation-direction: alternate;
        top: 0px;
    }
    .bg_star3 {
        animation-name: starFade;
        animation-duration: 6s;
        animation-delay: 2s;
        animation-timing-function: ease-in-out;
        animation-direction: alternate;
        top: 0px;
    }
}


/** Animation Keyframes **/

@keyframes buildingFade {
    0% {
        opacity: 0;
    }
    60% {
        opacity: 0.3;
    }
    75% {
        opacity: 0.45;
    }
    88% {
        opacity: 0.35;
    }
    100% {
        opacity: 0.3;
    }
}

@keyframes starFade {
    0% {
        opacity: 0;
    }
    95% {
        opacity: 0.72;
    }
    100% {
        opacity: 0;
    }
}